div{
	width: 320px;
	border: 1px solid gray;
	border-radius:10px;
	padding-bottom: 10px;
	padding-left:20px;
	padding-right:20px;
	margin: 0 auto;
}

h3{
	text-align: center;
}

table tr{
	height: 24px;
	line-height: 24px;
}